<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>  
	  <profile>  
	    <id>dev</id>  
	    <repositories>  
	      <repository>  
	        <id>local-nexus</id>  
	        <url>http://113.98.230.183:8445/nexus/content/groups/public/</url>  
	        <releases>  
	          <enabled>true</enabled>  
	        </releases>  
	        <snapshots>  
	          <enabled>true</enabled>  
	        </snapshots>  
	      </repository>  
	    </repositories>  
	  </profile>  
	</profiles>  
	<activeProfiles>  
	  <activeProfile>dev</activeProfile>  
	</activeProfiles>

</settings>


